@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #0088c2;
  color: white;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
